@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .marquee {
    font-family: Saira;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .headL {
    font-family: Saira;
    font-size: 64px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
  }

  .headM {
    font-family: Saira;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .headS {
    font-family: Saira;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .headXS {
    font-family: Saira;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .bodyL {
    font-family: Saira;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .bodyM {
    font-family: Saira;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .bodyS {
    font-family: Saira;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .bodyXS {
    font-family: Saira;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
