@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .redNeon {
        box-shadow: 0 0 34.5px 0 #ff4040;
    }

    .orangeNeon {
        box-shadow: 0 0 34.5px 0 #ffa740;
    }

    .greenNeon {
        box-shadow: 0 0 34.5px 0 #5bff40;
    }

    .purpleNeon {
        box-shadow: 0 0 34.5px 0 #8840ff;
    }

    .blueNeon {
        box-shadow: 0 0 34.5px 0 #307a9a;
    }
}
